.RSVP {
    bottom: 0;
    overflow: hidden;
    height: 80vh;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    width: 100%;
    margin: 6rem auto;
}

.LeftSide {
    margin-right: 2rem;
}
.RightSide {
    align-self: center;
}

.FormContainer {
    width: 50%;
    margin: 0 auto;
}


.FormContainer h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
    color: rgb(135, 72, 69);
    letter-spacing: 5px;
    margin-top: 1rem;
}

img {
    width: 16rem;
    position: absolute;
    right: 42%;
    bottom: 60%;
    z-index: -1;
}

input {
    border: 1px solid white;
    border-bottom: 1.5px solid rgb(234, 208, 194);
    border-radius: 3px;
    height: 1.5rem;
    margin-bottom: 1.3rem;
    margin-top: 0.8rem;
    outline: none;
    font-family: 'Playfair Display', serif;
}

label {
    color: rgb(135, 72, 69);
    margin-right: 1rem;
}

textarea {
    border: 1px solid rgb(234, 208, 194);
    border-radius: 3px;
    margin-top: -3rem;
    margin-left: -6rem;
    height: 10rem;
    width: 10rem;
    resize: none;
    outline: none;
}

select {
    outline: none;
}

.icon {
    color:rgb(135, 72, 69);
    margin-left: 11px;
    transition: all .6s ease-in-out;
    opacity: 0;
}

.icon.error {
    color:rgb(135, 72, 69);
    margin-left: 11px;
    transition: all .6s ease-in-out;
    opacity: 1;
}

.KidsMealsInput {
    margin-top: -0.3rem;
}

.LabelComment{
    margin-left:3rem;
    margin-top: -17rem;
}

.MessageRSVP {
    max-width: 25rem;
    padding: 2rem;
    height: 10rem;
    text-align: center;
    line-height: 2.5;
    background-color: rgb(243, 234, 230);
    position: relative;
    transform: translate(9rem, -26rem);
    color:rgb(135, 72, 69);
    font-family: 'Playfair Display', serif;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
}

.MessageRSVP.visible {
    opacity: 1;
    pointer-events: all;
}


.textBox {
    margin-top: -3rem;
    position: absolute;
    transform: translate(3rem, 3rem);
}

.exitButton {
    font-family: 'Playfair Display', serif;
    color:rgb(135, 72, 69);
    font-size: 1.2em;
    font-weight: 800;
    position: absolute;
    cursor: pointer;
    transform: translate(12rem, -1.5rem);
}



.Button {
    background-color: rgb(135, 72, 69);
    border: none;
    padding: 0.6rem;
    font-family: 'Playfair Display', serif;
    color: rgb(243, 234, 230);
    font-size: 0.9em;
    position: absolute;
    right: 48%;
    margin-top: -4rem;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    outline: none;
    opacity: 0.5;
    pointer-events: none;
}

.Button.true:hover {
    box-shadow: 6px 3px 4px rgba(135, 72, 69, 0.8);
}

.Button.true {
    opacity: 1;
    pointer-events: all;
}

select {
    border: 2px solid rgb(234, 208, 194);
    font-family: 'Playfair Display', serif;
    color: rgb(135, 72, 69);
    margin-bottom: 1.5rem;
}
  
@media only screen and (max-width: 1200px) {
    
    .FormContainer {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 950px) {
    img {
        width: 16rem;
        position: absolute;
        right: 40%;
        bottom: 60%;
        z-index: -1;
    }
}

@media only screen and (max-width: 900px) {
    .FormContainer {
        width: 90%;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 800px) {
    .FormContainer {
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 700px) {
    .FormContainer {
        width: 100%;
        height: 100%;
    }

    img {
        width: 16rem;
        position: absolute;
        right: 30%;
        bottom: 58%;
        z-index: -1;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 0rem;
        margin-top: 7rem;
    }

    .RSVP {
        height: 160vh;
    }

    textarea {
        margin-top: -1rem;
        margin-left: 4rem;
        width: 15rem;
    }

    .LabelComment{
        margin-top: -0.3rem;
        margin-left: -18rem;
    }
    
    .Button {
        right: 44%;
    }

    .FieldDivider {
        display: none;
    }
}

@media only screen and (max-width: 650px) {

}

@media only screen and (max-width: 600px) {
    img {
        width: 16rem;
        position: absolute;
        right: 26%;
        bottom: 56%;
        z-index: -1;
    }
}
