.RSVP {
    bottom: 0;
    overflow: hidden;
    height: 75vh;
    margin: 0 auto;
}

form {
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
    width: 90%;
    margin: 5rem auto;
}

.LeftSide {
    margin-right: 3rem;
    margin-left: 2rem;
    align-self: flex-start;
}

.RightSide {
    align-self: flex-start;
}

.FormContainer {
    width: 60%;
    margin: 0 auto;
}

.FormContainer__Title h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
    color: rgb(135, 72, 69);
    letter-spacing: 5px;
    margin-top: -1rem;
}

.FormContainer__Title {
    width: 20rem;
    margin: 0 auto;
    height: auto;
    position: relative;
}

.FormContainer__Title img {
    width: 16rem;
    margin-top: -5rem;
    z-index: -1;
    position: absolute;
}

input {
    border: 1px solid white;
    border-bottom: 1.5px solid rgb(234, 208, 194);
    border-radius: 3px;
    height: 1.5rem;
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
    outline: none;
    font-family: 'Playfair Display', serif;
    color: rgb(135, 72, 69);
}

label {
    color: rgb(135, 72, 69);
    margin-right: 1rem;
    margin-top: 1rem;
}

textarea {
    border: 1px solid rgb(234, 208, 194);
    border-radius: 3px;
    margin-left: 2.9rem;
    margin-top: 1rem;
    height: 10rem;
    width: 10rem;
    resize: none;
    outline: none;
}

select {
    outline: none;
    border-radius: 3px;
}

.icon {
    color: rgb(135, 72, 69);
    margin-left: 11px;
    transition: all .6s ease-in-out;
    opacity: 0;
}

.icon.error {
    color: rgb(135, 72, 69);
    margin-left: 11px;
    transition: all .6s ease-in-out;
    opacity: 1;
}

.KidsMealInput {
    margin-top: 0.3rem;
    margin-bottom: 1.4rem;
    width: 2.5rem;
    color: rgb(135, 72, 69);
    text-align: center;
}

.LabelComment {
    margin-left: 3rem;
}

.CommentArea {
    align-self: flex-start;
}

.MessageRSVP {
    max-width: 25rem;
    padding: 2rem;
    height: 10rem;
    text-align: center;
    line-height: 2.5;
    background-color: rgba(243, 234, 230, 0.452);
    position: relative;
    transform: translate(9rem, -26rem);
    color: rgb(135, 72, 69);
    font-family: 'Playfair Display', serif;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
}

.MessageRSVP.visible {
    opacity: 1;
    pointer-events: all;
}

.textBox {
    margin-top: -3rem;
    position: absolute;
    transform: translate(3rem, 3rem);
}

.exitButton {
    font-family: 'Playfair Display', serif;
    color: rgb(135, 72, 69);
    font-size: 1.2em;
    font-weight: 800;
    position: absolute;
    cursor: pointer;
    transform: translate(12rem, -1.5rem);
}

.Button {
    background-color: rgb(135, 72, 69);
    border: none;
    padding: 0.6rem;
    font-family: 'Playfair Display', serif;
    color: rgb(243, 234, 230);
    font-size: 0.9em;
    position: absolute;
    right: 48%;
    margin-top: -4rem;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    outline: none;
    opacity: 0.5;
    pointer-events: none;
}

.Button.true:hover {
    box-shadow: 6px 3px 4px rgba(135, 72, 69, 0.8);
}

.Button.true {
    opacity: 1;
    pointer-events: all;
}

select {
    border: 2px solid rgb(234, 208, 194);
    font-family: 'Playfair Display', serif;
    color: rgb(135, 72, 69);
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1200px) {
    .FormContainer {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 900px) {
    .FormContainer {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 800px) {
    .FormContainer {
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 700px) {
    .LeftSide {
        margin-right: 0rem;
        margin-left: 2rem;
    }
    .RightSide {
        margin-left: 2rem;
    }
    .FormContainer__Title img {
        margin-left: 1rem;
    }
    input {
        width: 10rem;
    }
    .CommentArea {
        margin-left: 10rem;
        margin-top: 1rem;
        position: relative;
    }
    .LabelComment {
        margin-left: -8rem;
        margin-top: 0rem;
        position: absolute;
    }
    textarea {
        margin-top: 3rem;
        margin-left: -8rem;
    }
    .KidsMealInput {
        margin-top: -2rem;
    }
    .FormContainer {
        width: 100%;
        height: 100%;
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 0rem;
        margin-top: 7rem;
    }
    .RSVP {
        height: auto;
    }
    textarea {
        margin-top: -1rem;
        margin-left: 4rem;
        width: 15rem;
    }
    .LabelComment {
        margin-top: -0.3rem;
        margin-left: -18rem;
    }
    .Button {
        right: 44%;
    }
    .FieldDivider {
        display: none;
    }
    .RSVP {
        height: 160vh;
    }
    .CommentArea {
        margin-left: 10rem;
        margin-top: 1rem;
        position: relative;
    }
    .LabelComment {
        margin-left: -8rem;
        margin-top: 0rem;
        position: absolute;
    }
    textarea {
        margin-top: 3rem;
        margin-left: -8rem;
    }
    .MessageRSVP {
        transform: translate(2.5rem, -20rem);
    }
}

@media only screen and (max-width: 480px) {
    .MessageRSVP {
        width: 15rem;
        font-size: 0.8em;
        height: 8rem;
        transform: translate(5rem, -18rem);
    }
    .textBox {
        margin-top: -3rem;
        position: absolute;
        transform: translate(0.2rem, 3rem);
    }
    .exitButton {
        font-family: 'Playfair Display', serif;
        color: rgb(135, 72, 69);
        font-size: 1.5em;
        font-weight: 800;
        position: absolute;
        cursor: pointer;
        transform: translate(7rem, -1.5rem);
    }
    .LeftSide {
        margin-right: 0rem;
        margin-left: 2rem;
    }
    .RightSide {
        margin-left: 2rem;
    }
    .FormContainer__Title img {
        margin-left: 1rem;
    }
    input {
        width: 10rem;
    }
    .CommentArea {
        margin-left: 10rem;
        margin-top: 1rem;
        position: relative;
    }
    .LabelComment {
        margin-left: -8rem;
        margin-top: 0rem;
        position: absolute;
    }
    textarea {
        margin-top: 3rem;
        margin-left: -8rem;
    }
    .KidsMealInput {
        margin-top: -2rem;
    }

    .RSVP {
        height: 170vh;
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 480px) {
    .RSVP {
        height: 140vh;
    }
    .MessageRSVP {
        transform: translate(1.5rem, -18rem);
    }
    .textBox {
        margin-top: -3rem;
        position: absolute;
        transform: translate(0.2rem, 3rem);
    }
    .exitButton {
        font-family: 'Playfair Display', serif;
        color: rgb(135, 72, 69);
        font-size: 1.5em;
        font-weight: 800;
        position: absolute;
        cursor: pointer;
        transform: translate(7rem, -1.5rem);
    }
}