.ImageContainer img {
    width: 100%;
    max-height: 110vh;
    background-position: center;
    top: -5rem;
    left: -2rem;
    z-index: -1;
    position: absolute;
    background-size: cover;
    overflow: content;
}

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  position: absolute;
  top:30%;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.Header h1 {
  font-size: 4em;
  line-height: 0.4;
  font-weight: 100;
  letter-spacing: 2px;
  color: rgb(135, 72, 69);
}

.Header h3 {
  font-weight: 100;
  color: rgb(135, 72, 69);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.Header span {
  font-size: 2.1em;
  margin-left: -1rem;
  margin-right: -1.2rem;
  color: rgb(234, 208, 194);
}

.date {
  font-weight: 500;
  color: rgb(135, 72, 69);
}

hr {
  border: 1px solid;
  color: rgb(234, 208, 194);
}

@media only screen and (max-width: 1350px) {
  .ImageContainer img {
    top: -1rem;
    left: 0rem;
    right: 0;
    right: 0;
}
}

@media only screen and (max-width: 1260px) {
  .ImageContainer img {
    top: -1rem;
    left: 0rem;
}
}

@media only screen and (max-width: 1200px) {
  .ImageContainer img {
    top: 0rem;
    left:0;
  }

}

@media only screen and (max-width: 1000px) {
  .Header h1 {
    font-size: 3.5em;
  }
  
  .Header h3 {
    font-weight: 100;
    font-size: 1em;
    color: rgb(135, 72, 69);
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .Header span {
    font-size: 1.5em;
  }

  .Header {
    top: 17rem;
  }

  .Home img {
    top: 3rem;
    width: 98%;
  }
}

@media only screen and (max-width: 900px) {
  .ImageContainer img {
    top: 4rem;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
  }

}

@media only screen and (max-width: 800px) {
  .Header {
    left: 40%;

  }
  
  .ImageContainer img {
    top: -15rem;
    width: 200%;
  }

  .ImageContainer {
    position: relative;
    width: 100%;
    height: 83vh;
    overflow: hidden;
  }

}

@media only screen and (max-width: 700px) {
  .Header {
    left: 40%;
  }
  
  .ImageContainer img {
    top: -7rem;
    left:0rem;
    width: 170%;
  }

}

@media only screen and (max-width: 650px) {
  .Header {
    left: 40%;
  }
  
  .ImageContainer img {
    top: -7rem;
    left:0rem;
    width: 180%;
  }

  .ImageContainer {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
  }

  
}

@media only screen and (max-width: 600px) {
  .Header {
    left: 40%;
  }
  
  .ImageContainer img {
    top: -2rem;
    width: 180%;
    left:0;
    position: absolute;
  }

  .ImageContainer {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
  }
}

@media only screen and (max-width: 515px) {

  .Header {
    left: 45%;
    top: 35%;
  }
  
  .ImageContainer img {
    margin-top: 0rem;
    margin-bottom: 0rem;
    width: 265%;
    top:2rem;
    left: -2rem;
    position: absolute;
    transform: rotate(25deg);
  }

}

@media only screen and (max-width: 458px) {
  .Header h1 {
    font-size: 2em;
  }
  
  .Header h3 {
    font-size: 0.8em;
  }

  .Header span {
    font-size: 2.1em;
    margin-left: -1rem;
    margin-right: -1.2rem;
    color: rgb(234, 208, 194);
  }
}


@media only screen and (max-width: 415px) {
  .Header {
    left: 45%;
  }
}


@media only screen and (max-width: 376px) {
  .Header {
    top: 30%;
  }

  .Header h1 {
    font-size: 2em;
  }
  
  .Header h3 {
    font-size: 0.8em;
  }

  .Header span {
    font-size: 2.1em;
    margin-left: -1rem;
    margin-right: -1.2rem;
    color: rgb(234, 208, 194);
  }
}

@media only screen and (max-width: 353px) {
  .Header {
    top: 30%;
  }

  .ImageContainer img {
    width: 285%;
  }
}

